<ul>
    <h3><%= link_to '新規作成', new_user_path %></h3>
    <% @users.each do |user| %>
    <li><%= link_to user.name, user_path(user.id) %> | <%= user.email %> | <%= user.profile %></li>
    <% end %>
</ul>